<h3>Password Reset!</h3>
<p>
    Hello {{ name }}!
</p><p>
    You or someone has requested a Password Reset on your Account. If you did not make this request ignore this email</p>
<p>To complete the password reset, click on the link below.
</p><p>
    <a href="{{ path('homepage') }}/{{ code }}/reset-password">Click Here</a>.
</p><p>
    Thank you!
</p><p>

    --LTI Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('web_logo.png')) }}">

<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>