
.pension-calculator-wrapper {
    overflow: hidden;
    border-bottom: 1px dotted #cccccc;
    border-bottom: none;
}
    .pension-calculator-wrapper .intro-block {
        padding: 10px 0 0 0px; 
        float: left; 
        width: 100%;
    }

    .pension-calculator-wrapper .help-block {
        padding: 24px 30px 23px 20px; 
        font-size: 18px; 
        font-family: 'futura-pt', Verdana, sans-serif;
    }

.pension-calculator-wrapper .pension-calculator-inner {
    margin-bottom: 60px;
}

    .pension-calculator-wrapper .results-summary-wrapper {
        padding-bottom: 10px;
        margin-bottom: 5px;
    }
    
    .pension-calculator-wrapper .results-summary-wrapper  .results-summary-wrapper-inner{
        border: #e2e2e2 1px solid;
        border-bottom: none;
    }

     .pension-calculator-wrapper .results-header{
        font-family: FuturaLight;
        font-weight: 700;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 36%, #e6e7e9 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#ffffff), color-stop(100%,#e6e7e9)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* IE10+*/
        background: linear-gradient(to bottom, #ffffff 36%,#e6e7e9 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e7e9',GradientType=0 ); /* IE6-9 */
    }

    .pension-calculator-wrapper .results-header div {
        padding: 24px 30px 23px 20px;
        font-size: 18px;
        font-family: 'futura-pt', Verdana, sans-serif;
    }
    .pension-calculator-wrapper .option-one-header div {
        padding: 24px 30px 23px 20px;
        font-size: 18px;
        font-family: 'futura-pt', Verdana, sans-serif;
    }
        .pension-calculator-wrapper .option-two-header div {
        padding: 24px 30px 23px 20px;
        font-size: 18px;
        font-family: 'futura-pt', Verdana, sans-serif;
    }
    .pension-calculator-wrapper  .results-summary-wrapper table {
        width: 100%;
        border-right: none;
    }
    .pension-calculator-wrapper .after-results-content {
        padding: 0px 30px 15px 20px;
        font-size: 14px;
    }
    .pension-calculator-wrapper .help-block {
        padding: 24px 30px 23px 20px; 
        font-size: 18px; 
        font-family: 'futura-pt', Verdana, sans-serif;
    }
    .pension-calculator-wrapper  .option-one-header{
        font-family: FuturaLight;
        border-bottom-style: hidden;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 36%, #e6e7e9 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#ffffff), color-stop(100%,#e6e7e9)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* IE10+*/
        background: linear-gradient(to bottom, #ffffff 36%,#e6e7e9 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e7e9',GradientType=0 ); /* IE6-9 */
    }
.pension-calculator-wrapper .option-two-header{
    font-family: FuturaLight;
    border-bottom-style: hidden;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 36%, #e6e7e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#ffffff), color-stop(100%,#e6e7e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 36%,#e6e7e9 100%); /* IE10+*/
    background: linear-gradient(to bottom, #ffffff 36%,#e6e7e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e7e9',GradientType=0 ); /* IE6-9 */
    border-top: 1px dotted #bcbcbc;
}

.results-summary-wrapper-inner  table tr td {
    padding: 15px 10px 15px 20px;
    border-left: none;
    border-bottom: 1px dotted #bcbcbc;
    font-size: 14px;
    border-right: 1px dotted #bcbcbc;
    font-weight: normal;
}

.results-summary-wrapper-inner table tr td.border-none-right {
    border-right: none;
    padding-right: 40px;
    font-size: 14px;
}

.pension-calculator-wrapper .option-two-inner-block{
    border-bottom: 1px dotted #bcbcbc;
}
    .pension-calculator-wrapper .calculator-fields {
        padding: 20px 10px 20px 20px;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: 0;
        border: none;
    }
    .pension-calculator-wrapper .row .calculator-fields {
        font-weight: normal;
        font-family: 'futura-pt', Verdana, sans-serif;
        font-size: 16px;
        padding-left: 0;
    }
   
    .calculator-fields  .form-control {
    font-family: 'futura-pt', Verdana, sans-serif;
    color: #333;
    border-radius: 0;
    height: 50px;
    border: #e2e2e2 1px solid;
    font-size: 16px;
    background: #eaeced;
    box-shadow: none;
    padding-top: 6px;
}
.pension-calculator-wrapper .conclusion-content {
    font-size: 14px;
}
   
        .pension-calculator-wrapper .calculator-fields .row {
            margin: 0 0 10px 0;
        }

        .pension-calculator-wrapper .calculator-fields .row1 {
            margin: 90px 0 10px 0;
        }

        .calculator-fields .row label {
            font-weight: normal;
            margin-top: 12px;
            text-align: right;
            text-transform: uppercase;
            width: 100%;
        }
         .calculator-fields .row .gender-row label {
            width: auto;
        }

        .calculator-fields .row .col-sm-6 {
            font-weight: normal;
            font-family: 'futura-pt', Verdana, sans-serif;
            font-size: 16px;
            padding-left: 0
        }

        #nameErrorMessage {
        font-weight: normal;
        font-size: 14px;
        color: #f00;
        text-align: right;
        font-family: FuturaLight;
        display: block;
        text-align: left;
    }

    .calculator-fields .row .col-sm-6 .date {
        width: 30%;
        padding-right: 10px;
        float: left;
    }

    .calculator-fields .row .col-sm-6 .date-year {
        width: 40%;
        float: left;
    }

    .pension-calc-btn {
        width: 25%;
        padding-bottom: 30px;
        padding-left: 8px;
    }

    @media (min-width:500px) and (max-width:767px) {

        .calculator-fields .row .col-sm-6 .date {
            width: 30%;
            padding-right: 5px;
            float: left;
        }

        .calculator-fields .row .col-sm-6 {
            width: 50%;
            float: left;
        }

        .calculator-fields .row .col-xs-12 {
            width: 50%;
            float: left;
        }

        .row .col-sm-push-4 {
            width: 33.33333333333333%;
            left: 33.33333333333333%;
        }
        .calculator-fields .row .col-sm-4 {
            width: 33.33333333333333%;
            float: left;
        }

        .calculator-fields .row label {
            text-align: left!important;
        }

        .col-sm-push-4 .col-sm-push-4 {
            left: 33.33333333333333%;
        }
    }

    @media (max-width:490px) {

       .calculator-fields .row .col-sm-6 {
            width: 50%;
            float: left;
        }

        .calculator-fields .row .col-xs-12 {
            width: 50%;
            float: left;
        }

        .calculator-fields .row .col-sm-4 {
            width: 100%;
            float: left;
            padding-left: 0px;
        }

        .calculator-fields .row label {
            text-align: left!important;
        }

        .calculator-fields .row .col-sm-6 .date {
            width: 100%;
            padding-right: 0px;
        }

        .calculator-fields .row .col-sm-6 .date-year {
            width: 100%;
        }

        .pension-calc-btn {
            width: 56.1%;
            padding-bottom: 0px;
            padding-left: calc;
        }
    }

    .calculator-fields .row label {
        font-weight: normal;
        margin-top: 12px;
        text-align: right;
        text-transform: uppercase;
        width: 100%;
    }


.calculator-fields .row  .error {
    color:red
}

.results-summary-wrapper-inner table tr td.border-none-right.net-row {
        font-weight: 700;
    }

    