{% extends 'base.html.twig' %}
{% block title %}Registered | LTI Center{% endblock %}
{% block pageTitle %} Registered{% endblock %}
{% block body %}
    <article id="post-44361"
             class="post-44361 magazinearticle type-magazinearticle status-publish has-post-thumbnail hentry category-campus-news tag-current-events tag-leadership tag-preaching contributor-raquel-p-wroten">

    <div class="post-header">
        <div class="post-contributors">
            <div class="contributor-count-1">
                <a class="contributor contributor-4334" href="#">
                        <span class="contributor-image">
                            <img src="https://voice.dts.edu/wp-content/uploads/sites/11/2017/06/Raquel%20P.%20Wroten%20portrait-150x150.jpg"
                                 alt="Raquel P. Wroten">
                        </span>
                    <span class="name"></span>
                </a>
            </div>
        </div>

        <h1 class="post-title">Application Complete</h1>
    <p>You have successfully created an Account and an administrator has been assigned to review your Account.</p>
        <p>We will notify you once your account is approved and activated.</p>
        <p>--LTI Team</p>
    </div>
    </article>
{% endblock %}